<!DOCTYPE html>
<html>
<head>
  <title>MyKeyboards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a href="/">Keyboard App</a></h1>
    <nav role="primary">Nav goes here
      <ul class="nav primary">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </nav>
  </header>
  <aside>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </aside>
  <div class="content"><%= yield %></div>
  <footer class="footer">I'm a footer!</footer>

</body>
</html>
