<!DOCTYPE html>
<html>
<head>
  <title>MyKeyboards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Keyboard App</h1>
    <nav>Nav goes here</nav>
  </header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <div class="content"><%= yield %></div>
  <footer class="footer">I'm a footer!</footer>

</body>
</html>
